%h1 Schedules

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @schedules.each do |schedule|
      %tr
        %td= schedule.work.name
        %td= schedule.theater.name
        %td= "#{schedule.work.minutes}分"
        %td= schedule.schedule_day
        %td= schedule.screen_name
        %td= schedule.start_time
        %td= schedule.end_time
        -# %td= link_to 'Show', schedule
        -# %td= link_to 'Edit', edit_schedule_path(schedule)
        -# %td= link_to 'Destroy', schedule, method: :delete, data: { confirm: 'Are you sure?' }

%br

-# = link_to 'New Schedule', new_schedule_path
