= form_for @theater do |f|
  - if @theater.errors.any?
    #error_explanation
      %h2= "#{pluralize(@theater.errors.count, "error")} prohibited this theater from being saved:"
      %ul
        - @theater.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
