<!DOCTYPE html>
<html>
  <head>
    <title>Theater-Schedule</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
    <%= javascript_pack_tag 'schedules/index'%>
    <%= favicon_link_tag 'favicon.ico'%>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
